.bg-primary{
    background-color: #2273cd;
}
.bg-secondary{
    background-color: #464646;
}
.bg-yellow-custom{
    background-color: #ffdf34;
}
.bg-card-roadmap{
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 12%, rgba(70,70,70,1) 70%);
}


h5{
    font-size: 0.8rem;
}
h4{
    font-size: 1rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

input{
    padding: 0.5rem 1.2rem;
}

button:hover{
    cursor: pointer;
}

.e-button:hover{
    background-color: #58888c;
    color: white;
    font-weight: 300;
    border-radius: 1rem;
}

// Mobile View Tailwind
@media (max-width: 768px) {
    // Mobile
    h3{
        font-size: 1.2rem;
    }
  }

  @media (max-width: 1150px) {
//    Tablet
        h3{
            font-size: 1.2rem;
        }
  }